{% extends 'edificios/base.html' %}

{% block estilos %}
h1.titulos-consorcios{
  color: grey;
}
{% endblock estilos %}


{% block contenido %}

<h1 class= "titulos-consorcios">Informacion extra</h1>


<h4>DNI: {{object.dni}}, <br>Fehca de nacimiento: {{object.fecha_nacimiento}}, <br>Email: {{object.email}} </h4>

<!--
<span>
  <b>apellido:</b> {{inquilino.apellido}}
</span>
<br>
<span>
    <b>Nombre:</b> {{inquilino.nombre}}
  </span>
<br>
{% if inquilino.descripcion %}
<span>
  <b>Descripcion:</b> {{inquilino.descripcion}}
</span>
{% endif %}
<br><br>
-->
<a href="{% url 'listar_inquilinos' %}">Volver a la lista</a>

{% endblock contenido %}


