{% extends 'edificios/base.html' %}

{% block subtitulo %} Inquilinos {% endblock subtitulo %}

{% block contenido %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Enviar" />
</form>

<br>
<a href="{% url 'listar_inquilinos' %}">Volver lista</a>


<!--{% if es_update %}
  <form action="{% url 'editar_inquilino' inquilino.id %}" method="post">
{% else %}
  <form action="{% url 'crear_inquilinos' %}" method="post">
{% endif %}
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Enviar">
</form>-->

{% endblock contenido %}
