{% extends 'edificios/base.html' %}


{% block estilos %}
h1.titulos-consorcios {
    color: grey;
}

div {
    background-image: url('C:\Users\mauro\OneDrive\Escritorio\Proyecto_tercera_pre-entrega\sistema_consorcios\static\assets\img\imagen-de-fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
}



{% endblock estilos %}

{% block contenido %}
<br><br><br><br><br><br>
<div>
    <h1 class= "titulos-consorcios">Hola soy Mauro Pisani Curlo<br><br><br><br>  Les doy la bienvenida a consorcios Mengano</h1>
    
        
    </div>
   <!-- <h1 class= "titulos-consorcios">Hola soy Mauro Pisani Curlo<br><br><br><br>  Les doy la bienvenida a consorcios Mengano</h1> -->

    
{% endblock contenido %}