{% extends 'edificios/base.html' %}



{% block estilos %}
h1.titulos-consorcios{
  color: red;
}
table{
  width: 50%;
  background-color: lightblue;
  text-align: center;
  vertical-align: top;
  border-spacing: 10px;
  background: #6c757d;
  color: #fff;
}

table, th, td {
  border: 0.5px solid white;
  border-collapse: separate;
}

th, td{
  margin:10 px;
  padding: 0.em;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  
}

caption {
  padding: 0.3em;
}
{% endblock estilos %}

{% block contenido %}
<div>
{% include 'edificios/barra_saludo.html' %}
<h1 class= "titulos-consorcios">Encargados</h1><!--cree una clase para poder darle un estilo al titulo-->


<form action="{% url 'buscar_encargado' %}" method="post">
  {% csrf_token %}
<br>
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar">
</form>
<br>

<ul>


<table>
  <tr>
    <th>Apellido:</th>
    <th>Nombre:</th>
    <th>Edificio:</th>
    <th>Antiguedad:</th>
  </tr> 
  {% for encargado in encargado %}
  <tr>
   
    <td>{{ encargado.apellido }}</td>
    <td>{{ encargado.nombre}}</td>
    <td>{{ encargado.edificio}}</td>
    <td>{{ encargado.antiguedad}}</td>
    
  </tr>
  {% endfor %}
</table>

</ul>
</div>
{% endblock contenido %}