{% extends 'edificios/base.html' %}

{% block subtitulo %} Edificios {% endblock subtitulo %}

{% block estilos %}
h1.titulos-consorcios{
  color: red;
}
{% endblock estilos %}

{% block contenido %}
<div>
{% include 'edificios/barra_saludo.html' %}
<h1 class= "titulos-consorcios">Edificios</h1><!--cree una clase para poder darle un estilo al titulo-->
<ul>
{% for edificio in edificios %}
<li>Edificio: {{ edificio.nombre }}, <br> Dirección: {{ edificio.direccion }}, <br> Encargado: {{ edificio.encargado}},</li>
<br>
{% endfor %}
</ul>
</div>
{% endblock contenido %}