{% extends 'edificios/base.html' %}

{% block subtitulo %}inquilinos{% endblock subtitulo %}

{% block estilos %}
h1.titulos-consorcios{
  color: red;
}
table{
  width: 50%;
  background-color: lightblue;
  text-align: center;
  vertical-align: top;
  border-spacing: 10px;
  background: #6c757d;
  color: #fff;
}

table, th, td {
  border: 0.5px solid white;
  border-collapse: separate;
}

th, td{
  margin:10 px;
  padding: 0.em;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  
}

caption {
  padding: 0.3em;
}
{% endblock estilos %}

{% block contenido %}
<div>
{% include 'edificios/barra_saludo.html' %}
<h1 class= "titulos-consorcios">inquilinos</h1><!--cree una clase para poder darle un estilo al titulo-->
<a href= "{%url 'crear_inquilinos' %}">Añadir inquilino</a>
<ul>
{% for inquilino in inquilino %}

<table>
  <tr>
    <th>Apellido:</th>
    <th>Nombre:</th>
    <th>Edificio:</th>
  </tr> 
  <tr>
    <td>{{ inquilino.apellido}}</td>
    <td>{{ inquilino.nombre}}</td>
    <td>{{ inquilino.edificio}}</td>
  </tr>
</table>

{% endfor %}
</ul>
</div>
{% endblock contenido %}