{% extends 'edificios/base.html' %}

{% block subtitulo %}Inquilinos{% endblock subtitulo %}

{% block estilos %}
h1.titulos-consorcios{
  color: red;
}
{% endblock estilos %}

{% block contenido %}
<div>
{% include "edificios/barra_saludo.html" %}
<h1 class= "titulos-consorcios">Inquilinos</h1><!--cree una clase para poder darle un estilo al titulo-->
<ul>
{% for inquilino in edificios %}
<li>{{ inquilino.apellido }}, {{ inquilino.nombre }}</li>
{% endfor %}
</ul>
</div>
{% endblock contenido %}